openapi: 3.0.3
info:
  title: Midtrans Payment API
  description: >-
    A representative OpenAPI description of the Midtrans payment platform, an
    Indonesian payment gateway (part of the GoTo Group). It covers Snap (hosted
    checkout), the Core API (charge and transaction lifecycle), card and GoPay
    tokenization, Payment Link, recurring Subscriptions, and Iris disbursement /
    payouts.


    Hosts vary by product. The default servers below are the Core API / Payment
    Link / Subscription hosts (api.midtrans.com and api.sandbox.midtrans.com).
    Snap runs on app.midtrans.com and Iris runs on app.midtrans.com/iris; those
    paths declare their own path-level `servers` override so the full URL is
    always unambiguous.


    Authentication is HTTP Basic: your Server Key is the username and the
    password is empty (`Authorization: Basic base64(SERVER_KEY:)`). The two card
    tokenization endpoints instead use the public Client Key passed as a query
    parameter, and Iris uses its own creator / approver API key over HTTP Basic.


    This document was authored by API Evangelist from Midtrans' public
    documentation and official Postman collection; request / response bodies are
    modeled representatively rather than exhaustively.
  version: '1.0'
  contact:
    name: Midtrans
    url: https://midtrans.com
  license:
    name: Proprietary
    url: https://midtrans.com
servers:
  - url: https://api.midtrans.com
    description: Core API / Payment Link / Subscription - Production
  - url: https://api.sandbox.midtrans.com
    description: Core API / Payment Link / Subscription - Sandbox
security:
  - serverKeyAuth: []
tags:
  - name: Snap
    description: Hosted / drop-in checkout session creation.
  - name: Core API
    description: Charge and manage the lifecycle of a transaction.
  - name: Card Tokenization
    description: Client-key card token and card registration (browser-side).
  - name: GoPay Tokenization
    description: Bind and read a customer's GoPay account.
  - name: Payment Link
    description: Create, read, and delete shareable payment links.
  - name: Subscription
    description: Recurring / subscription billing.
  - name: Iris Disbursement
    description: Payouts, beneficiaries, balance, and account validation.
paths:
  /snap/v1/transactions:
    servers:
      - url: https://app.midtrans.com
        description: Snap - Production
      - url: https://app.sandbox.midtrans.com
        description: Snap - Sandbox
    post:
      operationId: createSnapTransaction
      tags:
        - Snap
      summary: Create a Snap checkout transaction
      description: >-
        Creates a Snap checkout session for the given order and returns a
        transaction `token` and a `redirect_url`. The token drives the Snap.js
        popup or the redirect page, which renders every payment method enabled
        for the merchant.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SnapRequest'
      responses:
        '201':
          description: Snap token created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v2/charge:
    post:
      operationId: chargeTransaction
      tags:
        - Core API
      summary: Charge a transaction
      description: >-
        Performs a charge for the chosen `payment_type`. Supported types include
        credit_card, bank_transfer (Permata / BCA / BNI / BRI virtual account),
        echannel (Mandiri Bill), gopay, shopeepay, qris, cstore (Indomaret /
        Alfamart), akulaku, and more. The response carries a
        `transaction_status` plus method-specific payment instructions (VA
        number, QR string, deeplink, or redirect URL).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeRequest'
      responses:
        '200':
          description: Charge accepted (status may be pending, capture, or settlement).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v2/token:
    get:
      operationId: getCardToken
      tags:
        - Card Tokenization
      summary: Get a one-time card token
      description: >-
        Exchanges raw card data (or a saved `token_id`) for a one-time
        `token_id` used by the Core API charge. Authenticated with the public
        Client Key passed as the `client_key` query parameter - this endpoint is
        called from the browser so raw PAN never touches the merchant server.
      security: []
      parameters:
        - name: client_key
          in: query
          required: true
          description: The merchant's public Client Key.
          schema:
            type: string
        - name: card_number
          in: query
          required: false
          schema:
            type: string
        - name: card_exp_month
          in: query
          required: false
          schema:
            type: string
        - name: card_exp_year
          in: query
          required: false
          schema:
            type: string
        - name: card_cvv
          in: query
          required: false
          schema:
            type: string
        - name: token_id
          in: query
          required: false
          description: A previously saved token to re-tokenize with a CVV.
          schema:
            type: string
      responses:
        '200':
          description: A one-time card token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardToken'
  /v2/card/register:
    get:
      operationId: registerCard
      tags:
        - Card Tokenization
      summary: Register (save) a card
      description: >-
        Registers a card for one-click / two-click and recurring use, returning a
        `saved_token_id`. Authenticated with the public Client Key query
        parameter.
      security: []
      parameters:
        - name: client_key
          in: query
          required: true
          schema:
            type: string
        - name: card_number
          in: query
          required: true
          schema:
            type: string
        - name: card_exp_month
          in: query
          required: true
          schema:
            type: string
        - name: card_exp_year
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A saved card token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardToken'
  /v2/{order_id}/status:
    parameters:
      - $ref: '#/components/parameters/OrderId'
    get:
      operationId: getTransactionStatus
      tags:
        - Core API
      summary: Get transaction status
      description: Retrieves the latest status of a transaction by order_id or transaction_id.
      responses:
        '200':
          description: The transaction status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/{order_id}/approve:
    parameters:
      - $ref: '#/components/parameters/OrderId'
    post:
      operationId: approveTransaction
      tags:
        - Core API
      summary: Approve a challenged transaction
      description: Approves a card transaction that the fraud engine flagged with a challenge status.
      responses:
        '200':
          description: The transaction was approved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v2/{order_id}/deny:
    parameters:
      - $ref: '#/components/parameters/OrderId'
    post:
      operationId: denyTransaction
      tags:
        - Core API
      summary: Deny a challenged transaction
      description: Denies a card transaction that the fraud engine flagged with a challenge status.
      responses:
        '200':
          description: The transaction was denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v2/{order_id}/cancel:
    parameters:
      - $ref: '#/components/parameters/OrderId'
    post:
      operationId: cancelTransaction
      tags:
        - Core API
      summary: Cancel a transaction
      description: Cancels a transaction before it settles.
      responses:
        '200':
          description: The transaction was cancelled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v2/{order_id}/expire:
    parameters:
      - $ref: '#/components/parameters/OrderId'
    post:
      operationId: expireTransaction
      tags:
        - Core API
      summary: Expire a pending transaction
      description: Immediately expires a pending transaction so it can no longer be paid.
      responses:
        '200':
          description: The transaction was expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v2/{order_id}/refund:
    parameters:
      - $ref: '#/components/parameters/OrderId'
    post:
      operationId: refundTransaction
      tags:
        - Core API
      summary: Refund a transaction
      description: Refunds a settled transaction, fully or partially.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundRequest'
      responses:
        '200':
          description: The refund result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v2/{order_id}/refund/online/direct:
    parameters:
      - $ref: '#/components/parameters/OrderId'
    post:
      operationId: directRefundTransaction
      tags:
        - Core API
      summary: Online direct refund
      description: >-
        Performs a direct (online) refund for supported payment channels
        (e.g. GoPay, QRIS, ShopeePay), returning funds without the standard
        refund settlement window.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundRequest'
      responses:
        '200':
          description: The direct refund result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v2/pay/account:
    post:
      operationId: createPayAccount
      tags:
        - GoPay Tokenization
      summary: Create (link) a GoPay pay account
      description: >-
        Links a customer's GoPay account by phone number and returns activation
        actions plus an `account_id`. The account status progresses through
        PENDING, ENABLED, EXPIRED, and DISABLED.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayAccountRequest'
      responses:
        '201':
          description: The linked pay account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayAccount'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v2/pay/account/{account_id}:
    parameters:
      - name: account_id
        in: path
        required: true
        description: The linked pay account identifier.
        schema:
          type: string
    get:
      operationId: getPayAccount
      tags:
        - GoPay Tokenization
      summary: Get a GoPay pay account
      description: Retrieves a linked GoPay account's status and available payment tokens.
      responses:
        '200':
          description: The pay account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayAccount'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/payment-links:
    post:
      operationId: createPaymentLink
      tags:
        - Payment Link
      summary: Create a payment link
      description: Creates a shareable hosted payment page for an order.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentLinkRequest'
      responses:
        '201':
          description: The created payment link.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLink'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/payment-links/{order_id}:
    parameters:
      - $ref: '#/components/parameters/OrderId'
    get:
      operationId: getPaymentLink
      tags:
        - Payment Link
      summary: Get payment link details
      description: Retrieves the details and payment status of a payment link.
      responses:
        '200':
          description: The payment link.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLink'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deletePaymentLink
      tags:
        - Payment Link
      summary: Delete a payment link
      description: Deletes a payment link so it can no longer be paid.
      responses:
        '200':
          description: Deletion confirmation.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/subscriptions:
    post:
      operationId: createSubscription
      tags:
        - Subscription
      summary: Create a subscription
      description: >-
        Creates a recurring subscription against a saved card or GoPay token,
        with an amount, currency, payment_type, token, and a schedule (interval,
        interval_unit, start_time, max_interval).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionRequest'
      responses:
        '201':
          description: The created subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/subscriptions/{subscription_id}:
    parameters:
      - $ref: '#/components/parameters/SubscriptionId'
    get:
      operationId: getSubscription
      tags:
        - Subscription
      summary: Get a subscription
      description: Retrieves a subscription by its ID.
      responses:
        '200':
          description: The subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateSubscription
      tags:
        - Subscription
      summary: Update a subscription
      description: Updates the amount, schedule, or token of an existing subscription.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionRequest'
      responses:
        '200':
          description: The updated subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/subscriptions/{subscription_id}/enable:
    parameters:
      - $ref: '#/components/parameters/SubscriptionId'
    post:
      operationId: enableSubscription
      tags:
        - Subscription
      summary: Enable a subscription
      description: Re-enables a previously disabled subscription.
      responses:
        '200':
          description: Enable confirmation.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/subscriptions/{subscription_id}/disable:
    parameters:
      - $ref: '#/components/parameters/SubscriptionId'
    post:
      operationId: disableSubscription
      tags:
        - Subscription
      summary: Disable a subscription
      description: Pauses a subscription so no further charges are made until it is re-enabled.
      responses:
        '200':
          description: Disable confirmation.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/subscriptions/{subscription_id}/cancel:
    parameters:
      - $ref: '#/components/parameters/SubscriptionId'
    post:
      operationId: cancelSubscription
      tags:
        - Subscription
      summary: Cancel a subscription
      description: Permanently cancels a subscription.
      responses:
        '200':
          description: Cancel confirmation.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /iris/api/v1/ping:
    servers:
      - url: https://app.midtrans.com
        description: Iris - Production
      - url: https://app.sandbox.midtrans.com
        description: Iris - Sandbox
    get:
      operationId: irisPing
      tags:
        - Iris Disbursement
      summary: Ping Iris
      description: Health check that returns "pong" when the Iris service is reachable.
      responses:
        '200':
          description: Service is reachable.
  /iris/api/v1/beneficiaries:
    servers:
      - url: https://app.midtrans.com
        description: Iris - Production
      - url: https://app.sandbox.midtrans.com
        description: Iris - Sandbox
    get:
      operationId: listBeneficiaries
      tags:
        - Iris Disbursement
      summary: List beneficiaries
      description: Lists saved beneficiaries for quick access on the payout page.
      responses:
        '200':
          description: A list of beneficiaries.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Beneficiary'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createBeneficiary
      tags:
        - Iris Disbursement
      summary: Create a beneficiary
      description: Creates a new beneficiary (name, account, bank, alias_name, email).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Beneficiary'
      responses:
        '201':
          description: The created beneficiary.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /iris/api/v1/beneficiaries/{alias_name}:
    servers:
      - url: https://app.midtrans.com
        description: Iris - Production
      - url: https://app.sandbox.midtrans.com
        description: Iris - Sandbox
    parameters:
      - name: alias_name
        in: path
        required: true
        description: The beneficiary alias.
        schema:
          type: string
    patch:
      operationId: updateBeneficiary
      tags:
        - Iris Disbursement
      summary: Update a beneficiary
      description: Updates an existing beneficiary identified by its alias_name.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Beneficiary'
      responses:
        '200':
          description: The updated beneficiary.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /iris/api/v1/payouts:
    servers:
      - url: https://app.midtrans.com
        description: Iris - Production
      - url: https://app.sandbox.midtrans.com
        description: Iris - Sandbox
    post:
      operationId: createPayouts
      tags:
        - Iris Disbursement
      summary: Create payouts
      description: >-
        Creates one or more payouts (Creator role). Each payout targets a bank
        account with an amount, notes, and a bank / account_number.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayoutRequest'
      responses:
        '201':
          description: The created payouts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayoutResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /iris/api/v1/payouts/approve:
    servers:
      - url: https://app.midtrans.com
        description: Iris - Production
      - url: https://app.sandbox.midtrans.com
        description: Iris - Sandbox
    post:
      operationId: approvePayouts
      tags:
        - Iris Disbursement
      summary: Approve payouts
      description: Approves one or more requested payouts (Approver role) by reference_no.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayoutApproval'
      responses:
        '202':
          description: The payouts were accepted for processing.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /iris/api/v1/payouts/reject:
    servers:
      - url: https://app.midtrans.com
        description: Iris - Production
      - url: https://app.sandbox.midtrans.com
        description: Iris - Sandbox
    post:
      operationId: rejectPayouts
      tags:
        - Iris Disbursement
      summary: Reject payouts
      description: Rejects one or more requested payouts (Approver role) with a reason.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayoutRejection'
      responses:
        '202':
          description: The payouts were rejected.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /iris/api/v1/payouts/{reference_no}:
    servers:
      - url: https://app.midtrans.com
        description: Iris - Production
      - url: https://app.sandbox.midtrans.com
        description: Iris - Sandbox
    parameters:
      - name: reference_no
        in: path
        required: true
        description: The payout reference number.
        schema:
          type: string
    get:
      operationId: getPayoutDetails
      tags:
        - Iris Disbursement
      summary: Get payout details
      description: Retrieves the details and status of a single payout by reference_no.
      responses:
        '200':
          description: The payout details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payout'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /iris/api/v1/balance:
    servers:
      - url: https://app.midtrans.com
        description: Iris - Production
      - url: https://app.sandbox.midtrans.com
        description: Iris - Sandbox
    get:
      operationId: getBalance
      tags:
        - Iris Disbursement
      summary: Get account balance
      description: Returns the current Iris account balance available for disbursement.
      responses:
        '200':
          description: The account balance.
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
  /iris/api/v1/bank_accounts:
    servers:
      - url: https://app.midtrans.com
        description: Iris - Production
      - url: https://app.sandbox.midtrans.com
        description: Iris - Sandbox
    get:
      operationId: listBankAccounts
      tags:
        - Iris Disbursement
      summary: List bank accounts
      description: Lists the registered bank accounts (facilitator scheme).
      responses:
        '200':
          description: A list of bank accounts.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /iris/api/v1/account_validation:
    servers:
      - url: https://app.midtrans.com
        description: Iris - Production
      - url: https://app.sandbox.midtrans.com
        description: Iris - Sandbox
    get:
      operationId: validateBankAccount
      tags:
        - Iris Disbursement
      summary: Validate a bank account
      description: Validates a bank account number and returns the registered account holder name.
      parameters:
        - name: bank
          in: query
          required: true
          description: Bank code (e.g. bca, mandiri).
          schema:
            type: string
        - name: account
          in: query
          required: true
          description: The destination account number.
          schema:
            type: string
      responses:
        '200':
          description: The validated account holder.
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_no:
                    type: string
                  account_name:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  securitySchemes:
    serverKeyAuth:
      type: http
      scheme: basic
      description: >-
        HTTP Basic authentication. Your Server Key is the username and the
        password is empty, so the header is
        `Authorization: Basic base64(SERVER_KEY:)`. Iris disbursement uses the
        same HTTP Basic scheme but with its own creator / approver API key.
  parameters:
    OrderId:
      name: order_id
      in: path
      required: true
      description: The merchant order_id (or Midtrans transaction_id) of the transaction.
      schema:
        type: string
    SubscriptionId:
      name: subscription_id
      in: path
      required: true
      description: The subscription identifier.
      schema:
        type: string
  responses:
    Unauthorized:
      description: Missing or invalid credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        status_code:
          type: string
        status_message:
          type: string
        id:
          type: string
    TransactionDetails:
      type: object
      required:
        - order_id
        - gross_amount
      properties:
        order_id:
          type: string
        gross_amount:
          type: integer
          description: Total amount in the smallest currency unit (IDR has no decimals).
    ItemDetail:
      type: object
      properties:
        id:
          type: string
        price:
          type: integer
        quantity:
          type: integer
        name:
          type: string
    CustomerDetails:
      type: object
      properties:
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
        phone:
          type: string
    SnapRequest:
      type: object
      required:
        - transaction_details
      properties:
        transaction_details:
          $ref: '#/components/schemas/TransactionDetails'
        item_details:
          type: array
          items:
            $ref: '#/components/schemas/ItemDetail'
        customer_details:
          $ref: '#/components/schemas/CustomerDetails'
        enabled_payments:
          type: array
          items:
            type: string
        credit_card:
          type: object
          additionalProperties: true
    SnapResponse:
      type: object
      properties:
        token:
          type: string
        redirect_url:
          type: string
          format: uri
    ChargeRequest:
      type: object
      required:
        - payment_type
        - transaction_details
      properties:
        payment_type:
          type: string
          enum:
            - credit_card
            - bank_transfer
            - echannel
            - gopay
            - shopeepay
            - qris
            - cstore
            - akulaku
            - bca_klikpay
            - bca_klikbca
            - bri_epay
            - cimb_clicks
            - danamon_online
        transaction_details:
          $ref: '#/components/schemas/TransactionDetails'
        item_details:
          type: array
          items:
            $ref: '#/components/schemas/ItemDetail'
        customer_details:
          $ref: '#/components/schemas/CustomerDetails'
        bank_transfer:
          type: object
          properties:
            bank:
              type: string
              enum:
                - permata
                - bca
                - bni
                - bri
                - cimb
        credit_card:
          type: object
          properties:
            token_id:
              type: string
            authentication:
              type: boolean
            save_token_id:
              type: boolean
        gopay:
          type: object
          additionalProperties: true
        shopeepay:
          type: object
          additionalProperties: true
    TransactionStatus:
      type: object
      properties:
        status_code:
          type: string
        status_message:
          type: string
        transaction_id:
          type: string
        order_id:
          type: string
        gross_amount:
          type: string
        payment_type:
          type: string
        transaction_time:
          type: string
        transaction_status:
          type: string
          enum:
            - authorize
            - capture
            - settlement
            - pending
            - deny
            - cancel
            - expire
            - refund
            - partial_refund
            - failure
        fraud_status:
          type: string
          enum:
            - accept
            - challenge
            - deny
        va_numbers:
          type: array
          items:
            type: object
            properties:
              bank:
                type: string
              va_number:
                type: string
        actions:
          type: array
          items:
            $ref: '#/components/schemas/Action'
    Action:
      type: object
      properties:
        name:
          type: string
        method:
          type: string
        url:
          type: string
          format: uri
    RefundRequest:
      type: object
      properties:
        refund_key:
          type: string
          description: Merchant-supplied unique key for this refund.
        amount:
          type: integer
          description: Amount to refund; omit for a full refund.
        reason:
          type: string
    CardToken:
      type: object
      properties:
        status_code:
          type: string
        token_id:
          type: string
        saved_token_id:
          type: string
        hash:
          type: string
    PayAccountRequest:
      type: object
      required:
        - payment_type
      properties:
        payment_type:
          type: string
          enum:
            - gopay
        gopay_partner:
          type: object
          properties:
            phone_number:
              type: string
            country_code:
              type: string
            redirect_url:
              type: string
              format: uri
    PayAccount:
      type: object
      properties:
        status_code:
          type: string
        payment_type:
          type: string
        account_id:
          type: string
        account_status:
          type: string
          enum:
            - PENDING
            - ENABLED
            - EXPIRED
            - DISABLED
        actions:
          type: array
          items:
            $ref: '#/components/schemas/Action'
        metadata:
          type: object
          additionalProperties: true
    PaymentLinkRequest:
      type: object
      required:
        - transaction_details
      properties:
        transaction_details:
          $ref: '#/components/schemas/TransactionDetails'
        item_details:
          type: array
          items:
            $ref: '#/components/schemas/ItemDetail'
        customer_details:
          $ref: '#/components/schemas/CustomerDetails'
        usage_limit:
          type: integer
        expiry:
          type: object
          additionalProperties: true
        enabled_payments:
          type: array
          items:
            type: string
    PaymentLink:
      type: object
      properties:
        order_id:
          type: string
        payment_url:
          type: string
          format: uri
    SubscriptionSchedule:
      type: object
      properties:
        interval:
          type: integer
        interval_unit:
          type: string
          enum:
            - day
            - week
            - month
        max_interval:
          type: integer
        start_time:
          type: string
    SubscriptionRequest:
      type: object
      required:
        - name
        - amount
        - currency
        - payment_type
        - token
        - schedule
      properties:
        name:
          type: string
        amount:
          type: string
        currency:
          type: string
          enum:
            - IDR
        payment_type:
          type: string
          enum:
            - credit_card
            - gopay
        token:
          type: string
          description: Saved card token or GoPay token.
        schedule:
          $ref: '#/components/schemas/SubscriptionSchedule'
        metadata:
          type: object
          additionalProperties: true
        customer_details:
          $ref: '#/components/schemas/CustomerDetails'
    Subscription:
      allOf:
        - $ref: '#/components/schemas/SubscriptionRequest'
        - type: object
          properties:
            id:
              type: string
            status:
              type: string
              enum:
                - active
                - inactive
    Beneficiary:
      type: object
      properties:
        name:
          type: string
        account:
          type: string
        bank:
          type: string
        alias_name:
          type: string
        email:
          type: string
    PayoutItem:
      type: object
      required:
        - beneficiary_name
        - beneficiary_account
        - beneficiary_bank
        - amount
      properties:
        beneficiary_name:
          type: string
        beneficiary_account:
          type: string
        beneficiary_bank:
          type: string
        beneficiary_email:
          type: string
        amount:
          type: string
        notes:
          type: string
    PayoutRequest:
      type: object
      required:
        - payouts
      properties:
        payouts:
          type: array
          items:
            $ref: '#/components/schemas/PayoutItem'
    PayoutResponse:
      type: object
      properties:
        payouts:
          type: array
          items:
            $ref: '#/components/schemas/Payout'
    Payout:
      type: object
      properties:
        status:
          type: string
        reference_no:
          type: string
        amount:
          type: string
        beneficiary_name:
          type: string
        bank:
          type: string
        account:
          type: string
    PayoutApproval:
      type: object
      required:
        - reference_nos
      properties:
        reference_nos:
          type: array
          items:
            type: string
        otp:
          type: string
    PayoutRejection:
      type: object
      required:
        - reference_nos
        - reject_reason
      properties:
        reference_nos:
          type: array
          items:
            type: string
        reject_reason:
          type: string
